<launch>
  <param name="use_sim_time" value="true"/>

  <!-- Ensure unique parameter names for URDF files -->
  <param name="robot_description_red" command="cat $(find jason_description)/urdf/jason_2wd_red.urdf"/>
  <param name="robot_description_green" command="cat $(find jason_description)/urdf/jason_2wd_green.urdf"/>

  <!-- Only one instance of each node -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Start Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value = "$(find jason_gazebo)/worlds/road.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Ensure unique names for spawn_model nodes -->
  <node name="spawn_urdf_red" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-param robot_description_red
              -urdf
              -model jason_2wd_red
              -x 0 -y 0 -z 0.5
              -R 0 -P 0 -Y 0"/>
              
  <node name="spawn_urdf_green" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-param robot_description_green
              -urdf
              -model jason_2wd_green
              -x -1 -y 1.2 -z 0.5
              -R 0 -P 0 -Y 0"/>
</launch>
