<launch>
  <param name="use_sim_time" value="true"/>

  <!-- Load the URDF file -->
  <param name="robot_description" command="cat $(find jason_description)/urdf/jason_2wd.urdf"/>

  <!-- Publish joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- Publish robot state -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Start Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value = "$(find jason_gazebo)/worlds/cafe.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
  <!-- Spawn the robot in Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-param robot_description
              -urdf
              -model jason_2wd
              -x 0 -y 0 -z 0.5
              -R 0 -P 0 -Y 0"/>

</launch>
